* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #bbb #222;
}

.main-container {
  height: auto;
  padding: 10px;
  overflow-y: scroll;
  background-color: #222;
}

.main-header {
  height: 50px;
  background: #aaa;
}

.track-player {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  background: grey;
}

.tracks-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  width: 80%;
  margin: 0 auto;
  gap: 10px;
}

.track-info {
  color: #eee;
  width: 100%;
}
  .track-info .track-title {
    font-size: 1em;
    font-weight:700;
  }

  .track-info .track-artist {
    font-size: 0.9em;
    color: #ccc;
  }


.track-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: #444;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.16);
  gap: 10px;
  transition: transform 0.2s;
  cursor: pointer;
}

.track-card:hover {
  transform: scale(1.05);
}

.track-image {
  width: 130px;
  height: 130px;
  object-fit: cover;
}
